  <div class="user"><%= link_to cafepost.user.name, cafepost.user %></div>
  <h1 class="post__title"><%= cafepost.title%></h1>
  <p class="content"><%= cafepost.content %></p>
  <span class="timestamp">
     <%= time_ago_in_words(cafepost.created_at) %> 前に投稿されました
  </span>