  <span class="user"><%= link_to cafepost.user.name, cafepost.user %></span>
  <span class="post__title"><%= cafepost.title%></span>
  <span class="content"><%= cafepost.content %></span>
  <span class="timestamp">
     <%= time_ago_in_words(cafepost.created_at) %> 前に投稿されました
  </span>