<style type="text/css">
  #map2 { 
    margin: 0 auto;
    height: 660px;
    width: 100%;}
</style>
<script type="text/javascript">
    
  handler = Gmaps.build('Google');
  handler.buildMap({
    provider: {},
    internal: {id: 'map2'}},
    function() {
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setCenter(new google.maps.LatLng(35.681298, 139.7640582));
    handler.getMap().setZoom(10);
  });
</script>
<div id="map2"></div>