<div class="container">
  <div class="user-wrapper">
    <h2>フォローしているユーザー</h2>
      <% if @users.nil? %>
      <p>まだフォローしているユーザーはいません。</p>
      <% else %>
      <%= render 'users' %>
    <%= paginate @users %>
    <% end %>
  </div>
</div>
