<div class="container">
  <div class="user-wrapper">
    <h2>フォロワー</h2>
      <% if @users.nil? %>
      <p>まだフォロワーはいません。</p>
      <% else %>
      <%= render 'users' %>
      <%= paginate @users %>
      <% end %>
  </div>
</div>
