
  <div class="top">
    <div class="top-wrapper">
      <h2 class="copy">Bestな空間を見つけよう</h2>
      <%= link_to 'ログイン', login_path, class: 'btn btn-login' %>
      <%= link_to '新規登録', signup_path, class: 'btn btn-register' %>
      <div class="guest-btn">
        <%= link_to 'ゲストユーザーログイン', guest_login_path, class: 'btn', method: :post %>
      </div>
    </div>
  </div>