.head{
  margin-top: 50px;
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.post-items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post-item{
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid skyblue;
  width: calc( 100% / 3 );
  img{
    width: 100%;
  }
}

.form-wrapper{
  
}