// 共通変数読み込み
@import './variables';

.head{
  margin-top: 50px;
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.post-items{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post-item{
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 30px;
  border: 2px solid $main-color;
  width: calc( 95% / 2 );
}

.form-wrapper{
  padding-top: 50px;
}

// 投稿詳細ページ
.post-wrap{
  width: 70%;
  margin: auto;
}

.post-image{
  text-align: center;
}

.post-detail{
  display: flex;
}

.post-detail-left{
  width: 40%;
  img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }
}

.post-user-detail{
  display: flex;
  p{
    line-height: 75px;
    margin-left: 20px;
  }
}

// いいね
.heart {
  width: 100px;
  height: 100px;
  background: url("<%= asset_path('web_heart_animation.png') %>") no-repeat;
  background-position: 0 0;
  cursor: pointer;
}
.heart:hover {
  background-position: -2800px 0;
  -webkit-transition: background 1s steps(28);
  transition: background 1s steps(28);
}