// 共通変数読み込み
@import './variables';

.head{
  margin-top: 50px;
  font-size: 2.4rem;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.post-items{
  width: 90%;
  margin: 0 auto;
  
  .col-md-6{
    padding: 0 15px 0 15px;
    
  }
}

.post-link{
  display:block;
}

.cafepost-thumbnail{
  position: relative;
  overflow:		hidden;
  
  .caption{
    font-size:		150%;
  	color:			#fff;
  	padding-top:		120px;
  	padding-left:		0px;
  }
  
  .mask{
    width:			100%;
  	height:			100%;
  	position:		absolute;
  	top:			0;
  	left:			0;
  	opacity:		0;	/* マスクを表示しない */
  	background-color:	rgba(0,0,0,0.4);
  	-webkit-transition:	all 0.6s ease;
  	transition:		all 0.6s ease;
  }
  
  &:hover .mask{
    opacity:		1;	/* マスクを表示する */
  	padding-left:		130px;	/* 右にずらす */
  }
}

.post-item-link{
  width: 100%;
  display: block;
  box-sizing: border-box;
  img{
    width: 100%;
    height: 300px;
    border-radius: 5px 5px 0 0;
  }
}

#cell{
  height: 640px;
  padding: 0;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: $sub2-color;
  color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.post-item{
  
  background-color: $sub-color;
  
}

#cell:hover{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

.post-title{
  font-size: 2.8rem;
  padding: 5px;
  font-weight: bold;
}

.post-content{
  padding: 0 10px 0 10px;
}

.wifi-power{
  display: flex;
  i{
    color: $main-color;
  }
  p{
    margin-right: 10px;
    line-height: 40px;
  }
}


.address_all{
  display: flex;
  i{
    margin: 8px 20px 0 20px;
  }
}

.post-profile{
  display: flex;
  margin-right: 35%;
  img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.user-name{
  line-height: 40px;
}

.post-tag{
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 10;
  margin-bottom: 20px;
  i{
    margin-left: 20px;
  }
}

.tag-list{
  padding: 5px;
  background-color: #5BA9F7;
  color: #fff;
  border-radius: 5px;
  &:hover{
    opacity: 1;
    background-color: $sub-color;
    color: #fff;
  }
}

.form-wrapper{
  padding-top: 50px;
}

// 投稿詳細ページ
.post-wrap{
  width: 70%;
  max-width: 1000px;
  padding-bottom: 50px;
  margin: auto;
}

.post-name{
  h1 {
    position: relative;
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
  }

  h1:after {
    position: absolute;
    content: '';
    left: -7px;
    top: -7px;
    border-width: 0 0 15px 15px;
    border-style: solid;
    border-color: #fff #fff #a8d4ff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  }
}

.post-bottom{
  display: flex;
  padding-bottom: 20px;
}

.post-detail{
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #DFEFFF;
}

.post-detail-left{
  width: 45%;
  margin-right: 30px;
  img{
    width: 100%;
  }
}

.post-detail-favorite{
  color: #fff;
}

.post-user-detail{
  img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid $sub-color;
  }
}

.post-user-detail{
  display: flex;
  p{
    line-height: 75px;
    margin-left: 20px;
  }
}


// いいねTwitter Version
.heart {
  width: 100px;
  height: 100px;
  background-image: image-url('web_heart_animation.png') ;
  background-position: 0 0;
  cursor: pointer;
  background-color: $sub-color;
  border: none;
}
.heart:hover {
  background-position: -2800px 0;
  -webkit-transition: background 1s steps(28);
  transition: background 1s steps(28);
}

// いいねfontawsome
.favored{
  color: red;
}

.fav-form{
  button{
    outline: none;
    background-color: inherit;
    border: none;
  }
}

.icon-m{
  margin: 10px;
}

// コメント

@include mq(tab){
  .post-detail{
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.post-detail-left{
  width: 60%;
  margin: 0 auto;
}

.post-user-detail{
  display: flex;
  p{
    line-height: 75px;
    margin-left: 20px;
  }
}
}


@include mq(sp){
  #cell{
    height: auto;
  }
  .post-wrap{
    width: 90%;
  }
  .post-items{
    display: block;
  }
  
  .post-content{
    display: none;
  }
  
  .address_all{
    display: none;
  }
  
  .post-conent-wifi {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .post-conent-power{
    display: block;
    text-align: center;
  }
  
  .post-user-detail{
    img{
      width: 40px;
      height: 40px;
    }
    p{
      line-height: 2;
    }
  }
  .post-detail-left{
    width: 100%;
    margin-bottom: 10px;
  }
  
  .cafepost-thumbnail:hover .mask{
    padding-left: 20px;
  }
  
  .wifi-power{
    font-size: 1.4rem;
  }
  
  .post-profile{
    margin-right: 20%;
  }
  
  .post-item-link img{
    height: 250px;
  }
}