#comment_content{
  width: 100%;
  padding: 10px;
  border: 1px solid #d3d3d3;
  outline: none;
  font-size: 1.8rem;
}

.comment-inner{
  display: flex;
  position: relative;
  a{
    margin-right: 30px;
  }
}

.comment-content{
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
}

.comment-delete{
  position: absolute;
  top: 5px;
  right: 0;
}

.btn-comment{
  
}