@import './variables';

.footer-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 1vh;
}

footer{
  margin-top: auto;
  background-color: $main-color;
  color: #fff;
  padding: 20px 0;
}

.copy-right{
  display: inline-block;
  font-size: 1.2rem;
}