input[type="email"], input[type="text"], input[type="password"]{
  width: 100%;
  border: 3px solid #d8d8d8;
  font-size: 1.8rem;
  display: block;
  margin: auto;
  padding: 15px;
  border-radius: 999px;
}

.btn{
  padding: 20px 60px;
  display: inline-block;
  background-color: #082B48;
  color: #fff;
  font-size: 2.4rem;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  &:hover{
    opacity: 0.7;
    cursor: pointer;
  }
}

.form-wrapper{
  margin: auto;
  width: 50%;
  dl{
    margin-bottom: 30px;
  }
}


// ユーザー登録
.btn-register{
  background-color: #ec6d68;
  display: block;
  margin: 0 auto 20px auto;
}

// ログイン
.btn-login{
  display: block;
  margin: 0 auto 20px auto;
}

// プロフィール変更
.btn-save{
  display: block;
  margin: 0 auto 20px auto;
}

// 投稿ボタン
.btn-post{
  display: block;
  margin: 0 auto 20px auto;
}