@import './variables';

header{
  padding: 20px 0;
  background-color: $main-color;
}

.header-wrapper{
  display:flex;
  justify-content: space-between;
}

.header-nav{
  display:flex;
  color: #fff;
}

.header-nav-item{
  margin-right: 50px;
  a{
    color: #fff;
  }
}

.header-left a{
  color: #fff;
}