@import "./variables";

.tabnav{
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 50px;
}
.tabnav li{
   display: inline;
   margin: 0;
}
.tabnav li a{
    display: inline-block;
    background: #fff;
    color: $main-color;
    padding: 10px 200px;
    border-radius: 10px;
    border: 1px solid $main-color;
    text-decoration: none;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
}

.tabnav li a:hover,
.tabnav li a.active{
    
    background: $main-color;
    color: #fff;
}

@include mq(sp){
    .tabnav li a{
        padding: 10px 70px;
    }
}