.top{
  height: 500px;
  background-size: cover;
  background-position: center;
  background-image: image-url("4031.jpg");
}

.top-wrapper{
  width: 100%;
  text-align: center;
  padding-top: 150px;
}

.copy{
  font-size: 3.6rem;
}