// 共通変数読み込み
@import './variables';

// ユーザー一覧ページ
.user-wrapper{
  padding: 50px 0;
  h2{
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
}
.users{
  display: flex;
  flex-wrap: wrap;
}
.row{
  margin: 0;
}


.user{
  padding-top: 20px;
  border: 1px solid $main-color;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  display: flex;
  a{
    color: #555555;
  }

  img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 1px solid $sub-color;
  }
}

.user:hover{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

.user-left{
  margin-right: 20px;
}

.user-right-name{
  font-size: 2.4rem;
  font-weight: bold;
}

// プロフィールページ
.profile-wrapper{
  max-width: 800px;
  margin: 50px auto 50px auto;
  padding: 20px;
  display: flex;
  border: 2px solid $main-color;
  border-radius: 10px;
}

.profile-left{
  margin-right: 50px;
  img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}

.profile-right{
  width: 100%;
}

.profile-right-upper{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bbb;
  font-size: 2.8rem;
}

.user-name{
  font-weight: bold;
}


// プロフィール編集ページ
.edit{
  padding-top: 50px;
}

@include mq(tab){
  .users{
    display: block;
  }
  .user{
    width: 90%;
    margin: 0 auto 10px auto;
  }
  
}

@include mq(sp){
  .user{
    max-width: 500px;
    margin: 0 auto 30px auto;
  }
  
  // .user-right p{
  //   display: none;
  // }
  
  .profile-wrapper{
    display: block;
    text-align: center;
  }
  
  .profile-right-upper{
    display: block;
  }
}