// 共通変数読み込み
@import './variables';

// ユーザー一覧ページ
.user-wrapper{
  padding: 50px 0;
  h2{
    text-align: center;
    margin-bottom: 30px;
  }
}


.user{
  border: 1px solid $main-color;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  background-color: $sub-color;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  height: 150px;
  a{
    padding: 10px;
    display: flex;
  }
  img{
    border-radius: 50%;
  }
}

.user:hover{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

.user-left{
  margin-right: 20px;
}

// プロフィールページ
.profile-wrapper{
  width: 60%;
  margin: 50px auto 50px auto;
  padding: 30px;
  display: flex;
  border: 2px solid #2ECC71;
  border-radius: 10px;
}

.profile-left{
  margin-right: 50px;
  img{
    border-radius: 50%;
  }
}

.profile-right{
  width: 100%;
}

.profile-right-upper{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bbb;
  font-size: 2.8rem;
}

.user-name{
  font-weight: bold;
}


// プロフィール編集ページ
.edit{
  padding-top: 50px;
}

@include mq(tab){
  .users{
    display: block;
  }
  
}