// ユーザー一覧ページ
.users{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user{
  display: flex;
  width: 48%;
}

// プロフィールページ
.profile-wrapper{
  width: 60%;
  margin: 0 auto;
  display: flex;
}

.profile-left{
  margin-right: 50px;
}

.profile-right{
  li{
    font-size: 2.0rem;
    font-weight: bold;
  }
}