// 共通部分定義
$main-color: #2ECC71;
$sub-color: #FCFCF0;
$sub2-color: #F1C40E;

// メディアクエリ変数定義
$layout-width-inner: 1024px;

$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "screen and (min-width: #{$layout-width-inner})"
);

@mixin mq($breakpoint: sp) {

  @media #{map-get($breakpoints, $breakpoint)} {

    @content;
  }
}